* {
  font-family: 'IBM Plex Sans KR', sans-serif;

}

body {
  background: linear-gradient(to right, #2DB400, #f3f3f3, #1428A0);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
}
.title {
  background: linear-gradient(to right, #2DB400, #f3f3f3, #1428A0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
  text-align: center;
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
 }
  50% {
    background-position: 100% 50%;
 }
  100% {
    background-position: 0% 50%;
 }
}
/* Not needed for demo */
html, body {
  height: 100%;
}
.wrapper {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: max-content;

}
.title {
  font-size: 3vw;
  /* font-family: 'Raleway', sans-serif; */
  font-weight: 700;
}

.btn-blue {
  border: none;
  font-size: 1.5rem;
}

.bg-white-op{
  background-color: rgba(243,243,243,0.55);
}


.modal-bg, .modal-content {
  background-color: rgba(256,256,256,0.6) !important;
}

.modal-header {
  border-bottom: 0 none !important;
}
.jumping {
    animation: jump .6s ease-in-out;
    animation-iteration-count: 10;
}

@keyframes jump {
  0%,
  60% {
    transform: translate3d(0, 0, 0) scaleY(1);
  }
  30% {
    transform: translate3d(0, -8px, 0) scaleY(1);
  }
  75% {
    transform: translate3d(0, 3px, 0)  scaleY(.5);
  }
  100% {
    transform: scaleY(1) translate3d(0, 0, 0)
  }
}
.big-font {
  font-size: 3.2rem;
  color: #3b3b3b;
  font-weight: 700;
}

.font-gray {
  color: #3b3b3b;
}
.sliding-1 {
  font-size: 3.4rem;
  color: #3b3b3b;
  /* animation-name: fadeInOut 3s; */
  /* animation-delay: 3s; */
  -webkit-animation: fadeInOut 3s;
  -webkit-animation-duration: 5s; 
}
.sliding-2 {
  font-size: 3.4rem;
  color: #3b3b3b;
  -webkit-animation: fadeInOut 3s;
  -webkit-animation-duration: 5s; 
}
@keyframes fadeInOut {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.hover-card:hover {
  opacity: 0.5;
}